In [15]:
import pandas as pd
from datetime import datetime as dt
#import numpy as np
import csv

file_19 = "Resources/divvy_2019.csv"
file_20 = "Resources/divvy_2020.csv"
file_merged = "Resources/divvy_merged.csv"

#divvy19_df = pd.read_csv(file_19,low_memory=False,encoding = "ISO-8859-1")
divvy19_df = pd.read_csv(file_19)
divvy19_df

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742479,2019-01-01 00:48:44,2019-01-01 00:59:39,6336,655.0,304,Broadway & Waveland Ave,332,Burling St (Halsted) & Diversey Pkwy (Temp),Subscriber,Male,1988.0
2,21742517,2019-01-01 01:37:42,2019-01-01 01:45:00,1330,438.0,128,Damen Ave & Chicago Ave,54,Ogden Ave & Chicago Ave,Subscriber,Male,1990.0
3,21742555,2019-01-01 02:27:58,2019-01-01 02:41:17,4692,799.0,482,Campbell Ave & Montrose Ave,293,Broadway & Wilson Ave,Subscriber,Male,1990.0
4,21742594,2019-01-01 03:57:29,2019-01-01 04:02:01,976,272.0,181,LaSalle St & Illinois St,140,Dearborn Pkwy & Delaware Pl,Subscriber,Male,1982.0
...,...,...,...,...,...,...,...,...,...,...,...,...
106051,25962718,2019-12-31 19:52:14,2019-12-31 20:06:13,1817,838.0,53,Wells St & Huron St,172,Rush St & Cedar St,Subscriber,Male,1970.0
106052,25962760,2019-12-31 20:38:09,2019-12-31 20:49:23,2484,674.0,173,Mies van der Rohe Way & Chicago Ave,38,Clark St & Lake St,Subscriber,Male,1990.0
106053,25962796,2019-12-31 21:34:06,2019-12-31 21:48:56,5458,889.0,326,Clark St & Leland Ave,254,Pine Grove Ave & Irving Park Rd,Subscriber,NaN,1992.0
106054,25962837,2019-12-31 22:54:51,2019-12-31 23:12:30,646,"1,059.0",38,Clark St & Lake St,77,Clinton St & Madison St,Subscriber,Male,1985.0
106055,25962874,2019-12-31 23:31:35,2019-12-31 23:50:47,3388,"1,152.0",174,Canal St & Madison St,33,State St & Van Buren St,Subscriber,Male,1985.0

In [16]:
divvy19_df.drop(['end_time','bikeid','usertype','gender','birthyear'],axis=1, inplace=True)
divvy19_df

,trip_id,start_time,tripduration,from_station_id,from_station_name,to_station_id,to_station_name
0,21742443,2019-01-01 00:04:37,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave
1,21742479,2019-01-01 00:48:44,655.0,304,Broadway & Waveland Ave,332,Burling St (Halsted) & Diversey Pkwy (Temp)
2,21742517,2019-01-01 01:37:42,438.0,128,Damen Ave & Chicago Ave,54,Ogden Ave & Chicago Ave
3,21742555,2019-01-01 02:27:58,799.0,482,Campbell Ave & Montrose Ave,293,Broadway & Wilson Ave
4,21742594,2019-01-01 03:57:29,272.0,181,LaSalle St & Illinois St,140,Dearborn Pkwy & Delaware Pl
...,...,...,...,...,...,...,...
106051,25962718,2019-12-31 19:52:14,838.0,53,Wells St & Huron St,172,Rush St & Cedar St
106052,25962760,2019-12-31 20:38:09,674.0,173,Mies van der Rohe Way & Chicago Ave,38,Clark St & Lake St
106053,25962796,2019-12-31 21:34:06,889.0,326,Clark St & Leland Ave,254,Pine Grove Ave & Irving Park Rd
106054,25962837,2019-12-31 22:54:51,"1,059.0",38,Clark St & Lake St,77,Clinton St & Madison St
106055,25962874,2019-12-31 23:31:35,"1,152.0",174,Canal St & Madison St,33,State St & Van Buren St

In [6]:
#divvy19_df['start_time'].groupby([df.birthdate.dt.year, df.birthdate.dt.month]).agg('count')

In [18]:
#divvy19b.index = divvy19_df.to_datetime(divvy19_df['start_time'],format='%y-%m-%d %H:%M:%S')
divvy19_df['start_time'] = pd.to_datetime(divvy19_df['start_time'],errors = 'coerce',format = '%Y-%m-%d %H:%M:%S').dt.strftime("%B")
divvy19_df

,trip_id,start_time,tripduration,from_station_id,from_station_name,to_station_id,to_station_name
0,21742443,January,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave
1,21742479,January,655.0,304,Broadway & Waveland Ave,332,Burling St (Halsted) & Diversey Pkwy (Temp)
2,21742517,January,438.0,128,Damen Ave & Chicago Ave,54,Ogden Ave & Chicago Ave
3,21742555,January,799.0,482,Campbell Ave & Montrose Ave,293,Broadway & Wilson Ave
4,21742594,January,272.0,181,LaSalle St & Illinois St,140,Dearborn Pkwy & Delaware Pl
...,...,...,...,...,...,...,...
106051,25962718,December,838.0,53,Wells St & Huron St,172,Rush St & Cedar St
106052,25962760,December,674.0,173,Mies van der Rohe Way & Chicago Ave,38,Clark St & Lake St
106053,25962796,December,889.0,326,Clark St & Leland Ave,254,Pine Grove Ave & Irving Park Rd
106054,25962837,December,"1,059.0",38,Clark St & Lake St,77,Clinton St & Madison St
106055,25962874,December,"1,152.0",174,Canal St & Madison St,33,State St & Van Buren St

In [74]:
divcnt = pd.value_counts(divvy19_df['start_time'])
divcnt = divcnt.to_frame().reset_index()

type(divcnt) #.head()

pandas.core.frame.DataFrame

In [77]:

#months = ["Janruary","February","March","April","May","June","July","August","September","October","November","December"]
#divcnt['Month'] = pd.Categorical(divcnt['Month'], categories=months, ordered=True)
#divcnt = pd.to_datetime(divcnt['index'],errors = 'coerce')
#divcnt["index"] = divcnt.sort_values(by='index',axis=0, ascending=True, inplace=True)
#divcnt.sort_values(by='index')
divcnt.rename(columns = {'index':'Month','start_time':'Rides'},inplace=True)
divcnt # .index

        Month  Rides
0      August  16393
1        July  15482
2   September  13700
3        June  13206
4     October  10327
5         May  10207
6       April   7370
7    November   4922
8       March   4600
9    December   4308
10    January   2869
11   February   2672

,trip_id,start_time,end_time,tripduration,from_station_id,from_station_name,to_station_id,to_station_name
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave
1,21742479,2019-01-01 00:48:44,2019-01-01 00:59:39,655.0,304,Broadway & Waveland Ave,332,Burling St (Halsted) & Diversey Pkwy (Temp)
2,21742517,2019-01-01 01:37:42,2019-01-01 01:45:00,438.0,128,Damen Ave & Chicago Ave,54,Ogden Ave & Chicago Ave
3,21742555,2019-01-01 02:27:58,2019-01-01 02:41:17,799.0,482,Campbell Ave & Montrose Ave,293,Broadway & Wilson Ave
4,21742594,2019-01-01 03:57:29,2019-01-01 04:02:01,272.0,181,LaSalle St & Illinois St,140,Dearborn Pkwy & Delaware Pl

In [7]:
divvy20_df = pd.read_csv(file_20,low_memory=False)
divvy20_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EACB19130B0CDA4A,docked_bike,2020-01-21 20:06:59,2020-01-21 20:14:30,Western Ave & Leland Ave,239,Clark St & Leland Ave,326,41.9665,-87.6884,41.9671,-87.6674,member
1,21A882AE9EABD44E,docked_bike,2020-01-21 19:13:09,2020-01-21 19:21:11,Milwaukee Ave & Wabansia Ave,158,Damen Ave & Thomas St (Augusta Blvd),183,41.9126,-87.6814,41.9013,-87.6774,member
2,6112BC5112FF9518,docked_bike,2020-01-05 07:51:19,2020-01-05 07:55:37,Columbus Dr & Randolph St,195,Wabash Ave & Grand Ave,199,41.8847,-87.6195,41.8915,-87.6268,member
3,1E76695F1AE80B1B,docked_bike,2020-01-26 08:54:09,2020-01-26 09:01:18,Broadway & Barry Ave,300,Halsted St & Wrightwood Ave,349,41.9377,-87.6441,41.9291,-87.6491,member
4,F3418D0C3ACA50B9,docked_bike,2020-01-08 18:52:36,2020-01-08 18:55:29,Canal St & Adams St,192,Clinton St & Tilden St,68,41.8793,-87.6399,41.8759,-87.6408,member

In [8]:
#divvy_df = pd.read_csv(file)
divvy_20_df = divvy20_df.rename(columns={'ride_id':'trip_id','started_at':'start_time','ended_at':'end_time','start_station_name':'from_station_name','start_station_id':'from_station_id','end_station_name':'to_station_name','end_station_id':'to_station_id'})
divvy_20_df

,trip_id,rideable_type,start_time,end_time,from_station_name,from_station_id,to_station_name,to_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EACB19130B0CDA4A,docked_bike,2020-01-21 20:06:59,2020-01-21 20:14:30,Western Ave & Leland Ave,239,Clark St & Leland Ave,326,41.966500,-87.688400,41.967100,-87.667400,member
1,21A882AE9EABD44E,docked_bike,2020-01-21 19:13:09,2020-01-21 19:21:11,Milwaukee Ave & Wabansia Ave,158,Damen Ave & Thomas St (Augusta Blvd),183,41.912600,-87.681400,41.901300,-87.677400,member
2,6112BC5112FF9518,docked_bike,2020-01-05 07:51:19,2020-01-05 07:55:37,Columbus Dr & Randolph St,195,Wabash Ave & Grand Ave,199,41.884700,-87.619500,41.891500,-87.626800,member
3,1E76695F1AE80B1B,docked_bike,2020-01-26 08:54:09,2020-01-26 09:01:18,Broadway & Barry Ave,300,Halsted St & Wrightwood Ave,349,41.937700,-87.644100,41.929100,-87.649100,member
4,F3418D0C3ACA50B9,docked_bike,2020-01-08 18:52:36,2020-01-08 18:55:29,Canal St & Adams St,192,Clinton St & Tilden St,68,41.879300,-87.639900,41.875900,-87.640800,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98375,48ED41248526C21B,docked_bike,2020-12-03 16:05:59,2020-12-03 16:27:12,Damen Ave & Clybourn Ave,13271,Damen Ave & Clybourn Ave,13271,41.931931,-87.677856,41.931931,-87.677856,casual
98376,64B92D133EAB5662,classic_bike,2020-12-09 14:05:22,2020-12-09 14:37:41,Shedd Aquarium,15544,Rhodes Ave & 32nd St,13215,41.867226,-87.615355,41.836208,-87.613533,member
98377,7BDA3EC496A0D15C,classic_bike,2020-12-13 08:54:12,2020-12-13 10:58:28,Bissell St & Armitage Ave,13059,Bissell St & Armitage Ave,13059,41.918440,-87.652220,41.918440,-87.652220,casual
98378,EA05A55FB3C3E921,classic_bike,2020-12-18 13:18:36,2020-12-18 13:37:59,Sheffield Ave & Webster Ave,TA1309000033,Sheffield Ave & Webster Ave,TA1309000033,41.921540,-87.653818,41.921540,-87.653818,member
98379,FB351326E3592815,electric_bike,2020-12-01 14:21:21,2020-12-01 14:24:24,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836692,-87.613395,41.838753,-87.621832,member

In [13]:
#divvy_20_df = divvy20_df.reset_index()
#divvy_20_df = divvy20_df[["trip_id","start_time","end_time","from_station_name","from_station_id","to_station_name","to_station_id","start_lat","start_lng","end_lat","end_lng"]]
#divvy_20_df.drop(['rideable_type','member_casual'], axis=1, inplace=True)
divvy_20_df.head()

,trip_id,start_time,end_time,from_station_name,from_station_id,to_station_name,to_station_id,start_lat,start_lng,end_lat,end_lng
0,EACB19130B0CDA4A,2020-01-21 20:06:59,2020-01-21 20:14:30,Western Ave & Leland Ave,239,Clark St & Leland Ave,326,41.9665,-87.6884,41.9671,-87.6674
1,21A882AE9EABD44E,2020-01-21 19:13:09,2020-01-21 19:21:11,Milwaukee Ave & Wabansia Ave,158,Damen Ave & Thomas St (Augusta Blvd),183,41.9126,-87.6814,41.9013,-87.6774
2,6112BC5112FF9518,2020-01-05 07:51:19,2020-01-05 07:55:37,Columbus Dr & Randolph St,195,Wabash Ave & Grand Ave,199,41.8847,-87.6195,41.8915,-87.6268
3,1E76695F1AE80B1B,2020-01-26 08:54:09,2020-01-26 09:01:18,Broadway & Barry Ave,300,Halsted St & Wrightwood Ave,349,41.9377,-87.6441,41.9291,-87.6491
4,F3418D0C3ACA50B9,2020-01-08 18:52:36,2020-01-08 18:55:29,Canal St & Adams St,192,Clinton St & Tilden St,68,41.8793,-87.6399,41.8759,-87.6408

NameError: name 'divvy_20_pd' is not defined